<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console for local dev -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- THIS SENDS EVERY LOG TO LOGSTASH -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5044</destination>

        <!-- Pure JSON lines — perfect for tcp + json_lines in Logstash -->
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logLevel/>
                <loggerName/>
                <message/>
                <threadName/>
                <mdc/>                       <!-- if you use MDC -->
                <pattern>
                    <pattern>
                        {
                        "app": "cdc-listener",
                        "service": "order-service",
                        "env": "dev"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>   <!-- THIS LINE IS CRUCIAL -->
    </root>

</configuration>